<!DOCTYPE html>
<html lang="fr">
<head>
    <div th:replace="home :: myheader"></div>
    <meta charset="UTF-8">
    <title>Title</title>
    <title>bellac Web Application</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap" rel="stylesheet">
    <link th:href = "@{/home.css}" rel="stylesheet">
</head>
<body>
<div class="container special">
    <h2 class="h2">Liste des eleves</h2>
    <div class="table-responsive">
        <table class="table table-striped table-sm">
            <thead>
            <tr>
                <th>Prénom</th>
                <th>Nom</th>
                <th>adresse</th>
                <th>date de naissance</th>
                <th>mail</th>
                <th>specialité</th>
                <th>numero de tel</th>
                <th>habilitation travail machine</th>
                <th>nhabilitation travail proximite reseau</th>
                <th>habilitation electrique</th>
                <th>Visite médical</th>
            </tr>
            </thead>


<tbody>
<tr th:if="${eleves.empty}">
    <td colspan="3">Aucun eleve en base de données</td>
</tr>
<tr th:each="eleve: ${eleves}">
    <td><span th:text="${eleve.prenom}"> Prénom </span></td>
    <td><span th:text="${eleve.nom}"> Nom </span></td>
    <td><span th:text="${eleve.adresse}"> adresse </span></td>
    <td><span th:text="${eleve.dateNaissance}"> date de naissance </span></td>
    <td><span th:text="${eleve.mail}"> mail </span></td>
    <td><span th:text="${eleve.specialite}"> specialité </span></td>
    <td><span th:text="${eleve.numerotel}"> numero de tel </span></td>
    <td><span th:text="${eleve.habil_travail_machine}"> habilitation travail machine </span></td>
    <td><span th:text="${eleve.habil_travail_proximite_reseau}"> habilitation travail proximite reseau </span></td>
    <td><span th:text="${eleve.habil_electrique}"> habilitation electrique </span></td>
    <td><span th:text="${eleve.visiteMedical}"> Visite médical </span></td>

    <td>

    </td>
</tr>
</tbody>
        </table>
    </div>
    <h4><a th:href="@{/createEleve}">Ajouter un nouvel eleve</a></h4>
</div>
<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
</body>
</html>










<a th:href="@{/}">index</a>


