<!DOCTYPE html>
<html lang="fr">

<head>
  <div th:replace="home :: myheader"></div>
  <meta charset="UTF-8">
  <title>Title</title>
  <title>bellac Web Application</title>
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap" rel="stylesheet">
  <link th:href = "@{/home.css}" rel="stylesheet">

  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
        integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">

  <link rel="stylesheet"
        href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap-theme.min.css"
        integrity="sha384-rHyoN1iRsVXV4nD0JutlnGaslCJuC7uwjduW9SVrLvRYooPp2bWYgmgJQIXwl/Sp"
        crossorigin="anonymous">


</head>
<body>



<div class="container special">

  <h2 class="h2">Ajout d'un nouvel eleve</h2>
  <div>
    <form method="post"
          th:action="@{/saveEleve}" th:object="${eleve}">
      <div class="form-group">
        <label for="firstNameInput">Prénom</label>
        <input
                type="text" th:field="*{prenom}" class="form-control" id="firstNameInput"
                aria-describedby="firstNameHelp" placeholder="Saisir le prénom">
      </div>


      <div class="form-group">
        <label for="lastNameInput">nom</label>
        <input
                type="text" th:field="*{nom}" class="form-control" id="lastNameInput"
        aria-describedby="lastNameHelp" placeholder="Saisir le nom">
      </div>


      <div class="form-group">
        <label for="adresseInput">adresse</label>
        <input
                type="text" th:field="*{adresse}" class="form-control" id="adresseInput"
                aria-describedby="mailHelp" placeholder="Saisir l'adresse">
      </div>


      <div class="form-group">
        <label for="naissanceInput">date de naissance</label>
        <input
                type="date" th:field="*{dateNaissance}" class="form-control" id="naissanceInput"
                aria-describedby="mailHelp" placeholder="Saisir la date de naissance">
      </div>


      <div class="form-group">
        <label for="MailInput">MAIL</label>
        <input
                type="text" th:field="*{mail}" class="form-control" id="MailInput"
                aria-describedby="mailHelp" placeholder="Saisir l'adresse email">
      </div>


      <div class="form-group">
        <label for="speInput">spé</label>
        <input
                type="text" th:field="*{specialite}" class="form-control" id="speInput"
                aria-describedby="mailHelp" placeholder="Saisir la spécialité de l'élève">


      <div class="form-group">
        <label for="numInput">num tel</label>
        <input
                type="text" th:field="*{numerotel}" class="form-control" id="numInput"
                aria-describedby="mailHelp" placeholder="Saisir le numéro de téléphone de l'élève">
      </div>


        <div class="form-group">
          <label for="numInput">professeur</label>
          <input
                  type="text" th:field="*{professeur.idProf}" class="form-control" id="professeurInput"
                  aria-describedby="professeurHelp" placeholder="Saisir le numéro de téléphone de l'élève">
        </div>


        <div class="form-group">
          <label for="numInput">tuteur</label>
          <input
                  type="text" th:field="*{tuteur.idTuteur}" class="form-control" id="tuteurInput"
                  aria-describedby="tuteurHelp" placeholder="Saisir le numéro de téléphone de l'élève">
        </div>


        <div class="form-group">
          <label for="diplomeInput">diplome</label>
          <select th:field="*{diplome}" class="form-control" id="diplomeInput" aria-describedby="diplomeHelp" >
            <option value="">
              choisir un diplome
            </option>
            <option th:each="d : ${diplome}" th:value="${d}" th:text="${d.getNOM}">
            </option>
          </select>
        </div>


        <div class="form-group">
          <label for="classeInput">classe</label>
          <select th:field="*{classe}" class="form-control" id="classeInput" aria-describedby="classeHelp" >
            <option value="">
              choisir une classe
            </option>
            <option th:each="c : ${classe}" th:value="${c}" th:text="${c.getNOMCLASSE()}">
            </option>
          </select>
        </div>


        <div class="form-group">
          <label for="numInput">acces</label>
          <input
                  type="text" th:field="*{acces.idAcces}" class="form-control" id="accesInput"
                  aria-describedby="accesHelp" placeholder="Saisir le numéro de téléphone de l'élève">
        </div>



        <div class="form-group">
        <label for="habil_travail_machineInput">habilitation travail machine</label>
        <input
                type="text" th:field="*{habil_travail_machine}" class="form-control" id="habil_travail_machineInput"
                aria-describedby="mailHelp" placeholder="">
      </div>


      <div class="form-group">
        <label for="habil_travail_proximite_reseauInput">habilitation travail machine</label>
        <input
                type="text" th:field="*{habil_travail_proximite_reseau}" class="form-control" id="habil_travail_proximite_reseauInput"
                aria-describedby="mailHelp" placeholder="">
      </div>


      <div class="form-group">
        <label for="habil_electriqueInput">habilitation electrique</label>
        <input
                type="text" th:field="*{habil_electrique}" class="form-control" id="habil_electriqueInput"
                aria-describedby="mailHelp" placeholder="">
      </div>


      <div class="form-group">
        <label for="visiteMedicalInput">visite Medical</label>
        <input
                type="text" th:field="*{visiteMedical}" class="form-control" id="visiteMedicalInput"
                aria-describedby="mailHelp" placeholder="">
      </div>
        <button type="submit" class="btn btn-primary">Créer</button>
    </form>
  </div>

</div>

<script
        src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
<script
        src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"
        integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>



</body>
</html>