<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stage</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap" rel="stylesheet">
    <link rel="stylesheet" type="text/css" media="all" href="templates/css/style.css" th:href="@{/templates/css/style.css}" />


</head>

<body>
<header class="header">
    <div class="container d-flex">
        <div class="hero__avatar">
            <img th:src="@{/templates/images/logolycee2022.png}" alt="oui"/>
        </div>
        <div class="logo">
            Lycée Professionnel Martin Nadaud
        </div>
        <nav class="navbar">
            <ul class="menu list-unstyled">
                <li><a th:href="@{/eleves}"><button class="btn btn-info">Eleve</button></a></li>
                <li><a th:href="@{/profs}"><button class="btn btn-info">Professeur</button></a></li>
                <li><a th:href="@{/classes}"><button class="btn btn-info">Classes</button></a></li>
            </ul>
        </nav>
    </div>
</header>

</body>

