<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Stage</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Poppins:wght@300;500&display=swap" rel="stylesheet">
    <link th:href = "@{/home.css}" rel="stylesheet">

    <link rel="stylesheet"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css"
          integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
          crossorigin="anonymous">

</head>

<body>
<div th:fragment="myheader">
<header class="header">
    <div class="container d-flex">
        <div class="hero__avatar">
            <img th:src="@{/logolycee2022.png}" alt="oui"/>
        </div>
        <div class="logo">
            Lycée Professionnel Martin Nadaud
        </div>
    </div>
</header>
    <nav>
        <ul class="liste-items">
            <li class="items">ELEVE
                <ul class="sous-liste">
                    <li><a th:href="@{/eleves}"><button class="btn btn-dark">Liste des élèves</button></a></li>
                    <li><a th:href="@{/createEleve}"><button class="btn btn-dark">Ajouter un élève</button></a></li>
                    <li><a th:href="@{/elevesModifSuppr}"><button class="btn btn-dark">Gestion élèves</button></a></li>
                </ul>
            </li>
            <li class="items">PROFESSEUR
                <ul class="sous-liste">
                    <li><a th:href="@{/profs}"><button class="btn btn-dark">Liste des professeurs</button></a></li>
                    <li><a th:href="@{/createProf}"><button class="btn btn-dark">Ajouter un professeur</button></a></li>
                    <li><a th:href="@{/profModifSuppr}"><button class="btn btn-dark">Gestion des professeurs</button></a></li>
                </ul>
            </li>
            <li class="items">DIPLOME
            <ul class="sous-liste">
                <li><a th:href="@{/diplomes}"><button class="btn btn-dark">Liste des diplomes</button></a></li>
                <li><a th:href="@{/createDiplome}"><button class="btn btn-dark">Ajouter un diplome</button></a></li>
                <li><a th:href="@{/diplomesModifSuppr}"><button class="btn btn-dark">Gestion des diplomes</button></a></li>
            </ul>
        </li>
            <li class="items">ENTREPRISE
            <ul class="sous-liste">
                <li><a th:href="@{/entreprises}"><button class="btn btn-dark">Liste des entreprise</button></a></li>
                <li><a th:href="@{/createEntreprise}"><button class="btn btn-dark">Ajouter une entreprise</button></a></li>
                <li><a th:href="@{/entreprisesModifSuppr}"><button class="btn btn-dark">Gestion des entreprises</button></a></li>
            </ul>
        </li>

            <li class="items">CLASSE
                <ul class="sous-liste">
                    <li><a th:href="@{/classes}"><button class="btn btn-dark">Liste des classes</button></a></li>
                    <li><a th:href="@{/createClasse}"><button class="btn btn-dark">Ajouter une classe</button></a></li>
                    <li><a th:href="@{/entreprisesModifSuppr}"><button class="btn btn-dark">Gestion des entreprises</button></a></li>
                </ul>
            </li>

        </ul>
    </nav>

    <section classs="section1"></section>
    <section classs="section2"></section>
    <section classs="section3"></section>
    <section classs="section4"></section>
    <section classs="section5"></section>
    </div>
</body>

